{% extends "base_logged_in.twig" %}
{% from '_macro/form.html.twig' import dangerZoneDelete %}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Add a calendar note category'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit calendar note category'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset class="without-legend">
            {{ form_row(form.name, {'div_class': 'w100 block with50erLabel'}) }}
            {{ form_row(form.color, {'div_class': 'w100 block with50erLabel'}) }}
            {{ form_row(form.privacy, {'div_class': 'w100 block with50erLabel'}) }}

            {{ form_rest(form) }}

            <div class="c margin-top">
                {% if form.vars.data.id is null%}
                    <input type="submit" value="{% trans %}Add{% endtrans %}" name="submit">
                {% else %}
                    <input type="submit" value="{% trans %}Update{% endtrans %}" name="submit">
                {% endif %}
            </div>
        </fieldset>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



    {% if form.vars.data.id is not null %}
        {{ dangerZoneDelete(url('calendar-note-category-delete', {'id': form.vars.data.id}), 'deleteCalendarNoteCategory',
            'If you delete a calendar note category all corresponding notes will be deleted.'
        ) }}
    {% endif %}
{% endblock %}
